$dark1: #1c1c1c;
$dark2: #2c2c2c;
$placeholderTextColor: #9c9c9c;

body {
  background: $dark1 !important; // dark bg while page loads
}

// App
$appContainer: "._4sp8";
$verifiedDeliveryIcon: "._2her";

#{$appContainer} {
  background: $dark1 !important;

  *:not(#{$verifiedDeliveryIcon}) {
    color: white !important;
  }
}

// New message
$typeMessageContainer: "._5irm._7mkm";
$typeMessageInputContainer: "._7kpk";
$typeMessageInput: "._1p1v";

#{$typeMessageContainer} {
  background: $dark1 !important;
}

#{$typeMessageInputContainer} {
  background: $dark2 !important;
}

#{$typeMessageInput} {
  -webkit-text-fill-color: $placeholderTextColor !important;
}

// Chat list
$chatListSearchInput: "._5iwm ._58al";
$chatListSettingsIconContainer: "._6ymu";
$chatListNewChatIconContainer: "._6-xp";
$chatListOverflowMenu: "._5blh";

#{$chatListSearchInput} {
  background: $dark2 !important;

  &::placeholder {
    -webkit-text-fill-color: $placeholderTextColor !important;
  }
}

#{$chatListSettingsIconContainer}, #{$chatListNewChatIconContainer} {
  background: $dark2 !important;

  path {
    fill: white !important;
  }
}

#{$chatListOverflowMenu} path {
  fill: white !important;
}

// Chat messages
$chatMessageRow: "._o46";
$chatMessageRowSelf: "._3i_m";
$chatMessageBubble: "._3oh-";
$chatMessageRowActions: "._7i2j";

$chatMessageReactFlyout: "._53ij";
$chatMessageDeleteFlyout: "._hw3";

$chatMessageLikeEmoji: "._576q";

#{$chatMessageRow}:not(#{$chatMessageRowSelf}) #{$chatMessageBubble} {
  background: $dark2 !important;
}

#{$chatMessageRowActions} {
  path {
    fill: $placeholderTextColor !important;
  }

  span:hover {
    background: #2c2c2c !important;

    path {
      fill: white !important;
    }
  }
}

#{$chatMessageReactFlyout} {
  background: $dark2 !important;
}

#{$chatMessageDeleteFlyout} {
  background: black !important;
}

#{$chatMessageLikeEmoji} > svg > rect {
  fill: $dark1 !important;
}

// Message reaction badges
$messageReactionContainer: "._aou";
$messageReactionBadge: "._4kf5";

#{$messageReactionContainer} {
  background: #1c1c1c !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4) !important;
}

#{$messageReactionBadge} {
  background: $dark1 !important;
}

// Info sidebar
$infoSidebarSearchConversationIcon: "._6ybv";
$infoSidebarEditNicknamesIcon: "._6y56";
$infoSidebarNotificationsIcon: "._6ybz";
$infoSidebarIgnoreMessagesIcon: "._7hu0";
$infoSidebarBlockMessagesIcon: "._7hu1";
$infoSidebarFeedbackIcon: "._7hty";

#{$infoSidebarSearchConversationIcon},
#{$infoSidebarEditNicknamesIcon},
#{$infoSidebarNotificationsIcon},
#{$infoSidebarIgnoreMessagesIcon},
#{$infoSidebarBlockMessagesIcon},
#{$infoSidebarFeedbackIcon} {
  background: $dark2 !important;

  path {
    fill: white !important;
  }
}