body {
  background: #1c1c1c !important;
}

* {
  color: white !important;
}

/* Other people's messages */
._o46:not(._3i_m) ._3058 {
  background: #2c2c2c !important;
}

/* Chat background, new message container background */
._4sp8, ._5irm._7mkm {
  background: #1c1c1c !important;
}

/* New message input text, search bar input text */
._1p1v, input::placeholder {
  -webkit-text-fill-color: white !important;
}

/* New message input background, search bar input background */
._7kpk, ._58al {
  background: #2c2c2c !important;
}

/* Settings icon background, new message icon background */
._6ymu, ._6-xp {
  background: #2c2c2c !important;
}

/* Settings icon fill, new message icon fill */
._6ymu path, ._6-xp path {
  fill: white !important;
}

/* Message bubble row actions */
._o46 ._1z_2._2u_d._7i2j path {
  fill: #6c6c6c !important;
}

/* Message bubble row action hover background */
._o46 ._1z_2._2u_d._7i2j > span:hover {
  background: #2c2c2c !important;
}

/* Message bubble row action hover fill */
._o46 ._1z_2._2u_d._7i2j > span:hover path {
  fill: white !important;
}

/* React emoji flyout background */
._53ij {
  background: #2c2c2c !important;
}

/* Delete message flyout background */
._53ij ._hw3 {
  background: black !important;
}

/* Thumbs up reply emoji */
._2poz._ui9._576q > svg > rect {
  fill: #1c1c1c !important;
}

/* Message verified delivery icon */
._3i_m ._2her._6ybq {
  color: #09f !important
}
