.f6rbj1fe {
  display: none !important;
}

svg:not([fill]) {
  fill: #ececec !important;
}

rect:not([fill]) {
  fill: #1c1c1c !important;
}

i {
  filter: invert(50%) !important;
}

:root:root {
  --card-background: #1c1c1c !important;
  --divider: #2c2c2c !important;
  --hosted-view-selected-state: rgba(255, 255, 255, 0.04) !important;
  --hover-overlay: rgba(255, 255, 255, 0.04) !important;
  --media-inner-border: rgba(255, 255, 255, 0.04) !important;
  --media-outer-border: #1c1c1c !important;
  --messenger-card-background: #1c1c1c !important;
  --messenger-reply-background: #3c3c3c !important;
  --overlay-alpha-80: rgba(0, 0, 0, 0.8) !important;
  --popover-background: #1c1c1c !important;
  --primary-deemphasized-button-background: #2c2c2c !important;
  --primary-text: #ececec !important;
  --scroll-thumb: #2c2c2c !important;
  --secondary-button-background: #2c2c2c !important;
  --secondary-text: #bcbcbc !important;
  --shadow-1: #1c1c1c !important;
  --shadow-2: black !important;
  --shadow-inset: #1c1c1c !important;
  --surface-background: #1c1c1c !important;
  --wash: #2c2c2c !important;
  --web-wash: #1c1c1c !important;
}
