body {
  background: #1c1c1c !important;
}

._4sp8 {
  background: #1c1c1c !important;
}
._4sp8 *:not(._2her) {
  color: white !important;
}
._4sp8 input::placeholder {
  color: #9c9c9c !important;
}

._5irm._7mkm {
  background: #1c1c1c !important;
}
._5irm._7mkm ._7kpk {
  background: #2c2c2c !important;
}
._5irm._7mkm ._1p1v {
  -webkit-text-fill-color: #9c9c9c !important;
}

._4_j4 .chatAttachmentShelf {
  background: #1c1c1c !important;
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
}

._7mki g {
  fill: #1c1c1c !important;
}

._1enh._7q1s ._58al._7tpc {
  background: #2c2c2c !important;
}
._1enh._7q1s ._5blh path {
  fill: white !important;
}
._1enh._7q1s ._6ymu,
._1enh._7q1s ._6-xp {
  background: #2c2c2c !important;
}
._1enh._7q1s ._6ymu path,
._1enh._7q1s ._6-xp path {
  fill: white !important;
}
._1enh._7q1s ._6-xg,
._1enh._7q1s ._6zv9 path {
  fill: white !important;
}

._o46:not(._3i_m) ._3oh-,
._5i_d,
._2f5n {
  background: #2c2c2c !important;
}

._7301._hh7._hh7._6ybn,
._7301._hh7._hh7._6ybn:active,
._3egs {
  background: #1c1c1c !important;
}

._wu0 {
  background: #3c3c3c !important;
  border: #3c3c3c !important;
}

._576q > svg > rect {
  fill: #1c1c1c !important;
}

._7i2j path {
  fill: #9c9c9c !important;
}
._7i2j span:hover {
  background: #2c2c2c !important;
}
._7i2j span:hover path {
  fill: white !important;
}

._hw3 {
  background: black !important;
}

._aou {
  background: #1c1c1c !important;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4) !important;
}

._4kf5 {
  background: #1c1c1c !important;
}

._33p7 {
  background: #1c1c1c !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}
._33p7 ._5iwm ._58al {
  background: #1c1c1c !important;
}

._1liy ._1lj0:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}

._6ybv,
._6y56,
._6ymf,
._6ybz,
._7hu0,
._7hu1,
._7hty {
  background: #2c2c2c !important;
}
._6ybv path,
._6y56 path,
._6ymf path,
._6ybz path,
._7hu0 path,
._7hu1 path,
._7hty path {
  fill: white !important;
}

._4gd0 {
  background: #1c1c1c !important;
}

._1li-,
._67tu {
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
}

._4_j5,
._1t2u {
  border-left: 1px solid rgba(255, 255, 255, 0.05) !important;
}

._6ynl {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}
